apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: banking-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
      - name: notification-container
        image: jchaconv/notification-service:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
          value: "kafka-service:9092"
        - name: SPRING_KAFKA_CONSUMER_GROUP_ID
          value: "notification-group"
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: banking-ns
spec:
  selector:
    app: notification-service
  ports:
    - protocol: TCP
      port: 8082      # Puerto que use tu app de notificaciones
      targetPort: 8082