apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-db
  namespace: banking-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15-alpine
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          value: fraud_db
        - name: POSTGRES_USER
          value: jchacon
        - name: POSTGRES_PASSWORD
          value: banking123
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
        # Este mount le dice a Postgres que ejecute el SQL al iniciar
        - name: init-script-volume
          mountPath: /docker-entrypoint-initdb.d
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc
      # Referencia al ConfigMap que creaste con kubectl create configmap
      - name: init-script-volume
        configMap:
          name: postgres-init-script
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: banking-ns
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432